body {
  margin: 0 auto 0;
  padding: 5%;
  display: grid;
  text-align: center;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 3150px 1550px 920px;
  gap: 20px;
}

.navL {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  text-align: left;
  margin-top: 40px;
  margin-left: 20px;
}

.nav {
  position: absolute;
  left: -100%;
}

.humb {
  cursor: pointer;
}

#closebtn {
  margin-top: 10px;
  color: #67798e;
  font-weight: 100;
  cursor: pointer;
}

.nav.active {
  color: #3a4a42;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5%;
  width: 93%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 0;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  transition: 0.7s ease-out;
}

a {
  text-decoration: none;
}

.active a {
  color: #3a4a42;
}

#header nav {
  display: flex;
  align-items: center;
}

#header h1 a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

#header {
  display: flex;
  justify-content: space-between;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url(images/capt.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#header,
.intro {
  padding: 0 30px 0;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

span {
  color: lightgreen;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0;
  flex-wrap: wrap;
  width: auto;
}

.angle {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.Section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #172b4d;
  width: 327px;
  height: 79px;
  margin: 15px auto;
}

#works {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px repeat(6, 474px);
  gap: 20px;
}

.card {
  width: 100%;
  background-color: white;
  border: 1px dotted grey;
}

.card div p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
  margin: 16px 16px 16px;
}

.a-card ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
}

button {
  padding: 12px;
  background-color: #36b37f;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 16px 16px 16px;
  color: white;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  color: #3e8e41;
}

.card li {
  background-color: #ebf0ee;
  padding: 8px 12px;
}

.footer img {
  width: 100%;
}

#About {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr  repeat(3, 352px);
  gap: 20px;
}

.a-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ebf0ee;
  justify-content: center;
  align-items: center;
}

.a-card h5 {
  color: #344563;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.card div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin: 16px 16px 16px;
}

.a-card li {
  padding: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  background: #fff;
  color: #36b37e;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
}

#About p {
  color: #42526e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

input {
  box-sizing: border-box;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 100%;
  height: 48px;
}

textarea {
  width: 100%;
  border: 1px solid #60c095;
  border-radius: 4px;
}

#Contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#contact-mail {
  text-decoration: none;
}

.from-list {
  width: 100%;
  align-items: center;
  margin-top: 15px;
  justify-content: space-around;
}

#works img {
  height: 235px;
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

.a-card:hover {
  transform: scale(1, 1.05);
}

.input:hover {
  transform: translateX(5px);
}

.container{
  padding: 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 50%;
  left: 50%;
  transition: 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  border: 1px solid #efe1e6;
  border-radius: 16px;
  z-index: 10;
}

.container .imgs {
  width: 311px;
  height: 220px;
}

#clsbtn  {
  position: relative;
  width: 22px;
  bottom: 205px;
  left: 128px;
  cursor: pointer;
  color: #ffffff;
}

.container.active {
  transform: translate(-50%, -50%) scale(1);
}

.container ul {
  width: 246px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 246px;
  height: 32px;
  gap: 8px;
}

.container li {
  background: #EBF0EE;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.container p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #344563;
  width: 311px;
  text-align: left;
}

.container h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  color: #172B4D;
  width: 259px;
  text-align: left;
}

.buttons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.buttons .live,
.buttons .source {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 16px;
  gap: 12px;
  padding: 12px;
  background-color: #36b37f;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  
  height: 27px;
  color: white;
}

.overlay {
  transition: 300ms ease-in-out;
  background-color: grey;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10vh 80vh 1180px 750px 80vh;
    gap: 30px;
  }

  #header {
    animation: header 500ms ease-in-out;
    display: flex;
    justify-content: center;
  }

  @keyframes header {
    0% {
      transform: translateY(-100%);
    }

    80% {
      transform: translateY(20%);
    }

    100% {
      transform: translateY(0);
    }
  }

  #header img {
    display: none;
  }

  #header h1 {
    display: none;
  }

  .navL {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    position: inherit;
    left: 0;
    flex-direction: row;
  }

  .navL li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .nav {
    position: inherit;
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: url(images/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 17%;
  }

  .welcoming {
    margin-bottom: 0;
  }

  .intro ul {
    padding: 0 35%;
  }

  #works {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 500px 500px;
    gap: 20px;
  }

  #works h3 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #About {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  .about-intro {
    grid-column: 1/4;
    grid-row: 1/2;
    padding: 0 17%;
  }

  #Contact {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px 70px;
    gap: 20px;
  }

  .footer {
    display: flex;
    grid-column: 1/span 2;
    grid-row: 2/3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40%;
  }

  .contact-mail {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto 0;
    width: 100%;
  }

  form button {
    margin-left: 0;
  }

  #Contact h3 {
    text-align: left;
  }

  .closebtn {
    display: none;
  }

  .input {
    width: 100%;
  }
}
